circle.r_on { fill:#006546; }
circle.r_off { fill:#008d46; }
circle.r_select { fill:#3080d0; }
circle.r_p1 { fill:#ff3333; }
circle.r_p2 { fill:#ecff23; }

.btnEnders {
    width: 120px;
    height: 25px;
    margin: 0px 0px 5px 0px;
}

#btnMove {
    width: 120px;
    height: 25px;
    margin: 5px 0px 0px 0px;
}
