rect.r_on { fill:#006546; stroke-width:1; stroke:#3080d0; }
rect.r_off { fill:#008d46; stroke-width:1; stroke:#3080d0; }
rect.r_select { fill:#3080d0; stroke-width:1; stroke:#3080d0; }
rect.r_usr { fill:#ff3333; stroke-width:1; stroke:#3080d0; }
rect.r_opp { fill:#ecff23; stroke-width:1; stroke:#3080d0; }
