circle.r_on { fill:#006546; }
circle.r_off { fill:#008d46; }
circle.r_select { fill:#3080d0; }
circle.r_usr { fill:#ff3333; }
circle.r_opp { fill:#ecff23; }

#btnTurn {
    width: 120px;
    height: 25px;
    margin: 5px 0px 0px 0px;
}
